/TimeLoggerSync.ffs_batch
/sync.ffs_db
/runanki.py
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/python39.dll
/.idea/TimeLogger.iml
/.idea/vcs.xml
